extends layout

block content
  .col-xs-12
    .error-template
      h1(class="text-center") Oops!
      h2(class="text-center") #{type} Not found
      .error-details
        p(class="text-center") #{message}
      .error-actions.text-center
        a(href="/", class="btn btn-primary btn-lg", title="Go to home"): span(class="glyphicon glyphicon-home")
  
