extends layout

block content
  .col-xs-12.text-center
    img(src="/images/bmth-og.png", class="img-thumbnail rounded")
    h1 BMTH
    p Welcome to Bring Me the Horizon
    h3
      a(href="/members", class="btn btn-success btn-lg"): span(class="glyphicon glyphicon-list-alt") Members
