doctype html
html
  head
    meta(charset="utf-8")
    meta(content="IE-edge", http-equiv="X-UA-Compatible")
    meta(content="width=device-width,initial-scale=1", name="viewport")
    title #{title}
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a(href="/", class="navbar-brand btn btn-primary btn-lg"): span(class="glyphicon glyphicon-home")
          a.navbar-brand(href="/members") Members
          a.navbar-brand(href="/members/create") Create
    .container
      .row
        block content
    script(src='/jquery/dist/jquery.min.js')
