extends ../layout

block content
  .col-md-10
    .panel.panel-info
      .panel-heading
        .panel-title Create Member
        .panel-body
          if error
            .alert.alert-danger.fade.in
              #{error}
          form(name="create", class="form-horizontal", action="/members/save", method="post")
            .from-group.input-group
              span(class="input-group-addon", title="Name"): i.glyphicon.glyphicon-user
              input#name.form-control(type='text', placeholder='Name' name='name', required)
            .from-group.input-group
              span(class="input-group-addon", title="Surname"): i.glyphicon.glyphicon-user
              input#surname.form-control(type='text', placeholder='Surname' name='surname', required)
            .from-group.input-group
              span(class="input-group-addon", title="Age"): i.glyphicon.glyphicon-envelope
              input#age.form-control(type='text', placeholder='Age' name='age')
            .from-group.input-group
              span(class="input-group-addon") Functions
              select#function(class="form-control", required, name="function")
                each f, i in functions
                  option(value=i) #{f}
            .from-group.input-group
              span(class="input-group-addon", title="Website"): i.glyphicon.glyphicon-globe
              input#website.form-control(type='url', placeholder='Website' name='website')
            .from-group.input-group
              span(class="input-group-addon") State
              select#states(class="form-control", required, name="states")
                each state, i in states
                  option(value=i) #{state}
            .form-group
              .col-sm-12.controls
                button.btn.btn-primary(type='submit') Save
