extends ../layout

block content
  .col-md-10
    .panel.panel-info
      .panel-heading
        .panel-title Edit Member
        .panel-body
          if error
            .alert.alert-danger.fade.in
              #{error}
          form(name="edit", class="form-horizontal", action="/members/update", method="post")
            .from-group.input-group
              span(class="input-group-addon", title="Name"): i.glyphicon.glyphicon-user
              input#name.form-control(type='text', placeholder='Name' name='name', value="#{member.name}", required)
            .from-group.input-group
              span(class="input-group-addon", title="Surname"): i.glyphicon.glyphicon-user
              input#surname.form-control(type='text', placeholder='Surname' name='surname', value="#{member.surname}")
            .from-group.input-group
              span(class="input-group-addon", title="Age"): i.glyphicon.glyphicon-envelope
              input#age.form-control(type='text', placeholder='Age' name='age', value="#{member.age}", required)
            .from-group.input-group
              span(class="input-group-addon") Functions
              select#function(class="form-control", required, name="function")
                each f, i in functions
                  option(value=i, selected=member.function == i) #{f}
            .from-group.input-group
              span(class="input-group-addon", title="Website"): i.glyphicon.glyphicon-globe
              input#website.form-control(type='url', placeholder='Website' name='website', value="#{member.website}")
            .from-group.input-group
              span(class="input-group-addon") State
              select#states(class="form-control", required, name="states")
                each state, i in states
                  option(value=i, selected=member.state == i) #{state}
            .form-group
              .col-sm-12.controls
                a.btn.btn-link(href="/members") Back to members
                div.text-right
                  button.btn.btn-primary(type='submit') Save
