extends ../layout

block content
  .col-xs-9.table-responsive
    table.table.table-striped.table-responsive
      thead
        tr
          th Name
          th Surname
          th Age
          th Functiomn
          th Website
          th State
          th Actions
      tbody
        for member in members
          tr
            td #{member.name}
            td #{member.surname}
            td #{member.age}
            td #{member.function}
            td #{member.website}
            td #{member.states}
            td
              a.btn.btn-default(href="/members/edit/#{member._id}") Edit
        else
          tr
            td Not exists members
    h3.text-right
      a(href="/members/create", class="btn btn-success btn-lg") Create
