extends ../layout

block content
  .col-md-10
    .panel.panel-default
      .panel-heading
        .panel-title.lead #{member.name} #{member.surname}
        .panel-body
          p
            | Name #{member.name}
          p
            | Surname #{member.surname}
          p
            | Age #{member.age}
          p
            | Function #{member.function}
          p
            | Website #{member.website}
          p
            | State #{member.states}
            
    form(name="delete", class="form-horizontal", action="/members/delete/#{member._id}", method="post")
      .form-group
        .col-sm-12.controls
          a.btn.btn-link(href="/members") Back to members
          div.text-right
            a.btn.btn-default(href="/members/edit/#{member._id}") Edit
            button.btn.btn-primary(type='submit') Delete
